@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: "Pacifico", cursive;
  margin: 0;
  padding: 0;
  background-color: lightcyan;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}



